* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.about {
  background: #040f28;
}

.container {
  margin: 0 auto;
}

.about__title--h2 {
  color: #fff;
  font-family: "Ubuntu";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about__title--p {
  width: 370px;
  color: #999;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
}

.pricing {
  background: #040f28;
}
.pricing .pricing__title--p {
  color: #fff;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.pricing .pricing__title--h2 {
  color: #fff;
  text-align: center;
  font-family: "Ubuntu";
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
}

.card-text {
  color: #000;
  font-family: "Ubuntu";
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
}

.card-text--span {
  color: #000;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.card-title {
  color: #000;
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-top: 52px;
  margin-bottom: 24px;
}

.btn {
  padding: 12px 45px;
  color: #272727;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  border-radius: 50px;
  border: 1px solid;
}

.btn:hover {
  background: #fc3867;
  color: #fff;
}

.card {
  margin-bottom: 172px;
}

.update .container {
  background: #fff;
}
.update .update__title--p {
  color: #c4c4c4;
  font-family: "Cerebri Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
.update .update__title--h2 {
  color: #212226;
  font-family: "Ubuntu";
  font-size: 40px;
  font-weight: 700;
  line-height: 64px;
}

.footer {
  background: #070707;
}

.footer__title {
  padding: 40px 120px;
}
.footer__title .footer__title--h3 {
  color: #fff;
  font-family: "Cerebri Sans";
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
}
.footer__title .footer__title--p {
  width: 318px;
  color: #c4c4c4;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.footer__title .footer__title--li {
  color: #c4c4c4;
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 26px;
}

.footer__title--a {
  color: #fff;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.footer__title--hr {
  stroke-width: 1px;
  stroke: rgba(196, 196, 196, 0.5);
  margin: 40px 120px;
  color: #fff;
}

.footer__title--p2 {
  color: rgba(196, 196, 196, 0.5);
  font-family: "Ubuntu";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

/*# sourceMappingURL=main.css.map */
